.holder {
  width: auto;
  display: inline-block;
}
.with40 {
  width: 40%; /* Will shrink image to 30% of its original width */
  height: auto;
}​


/*
=====================
SIDEBAR + RIGHT COLUMN
=====================
*/

.sidebar {
  padding-top: 40px;
}
/*modified sidebar to follow scroll */
.sidebar-content {
.sidebar-content {
    position: fixed;
    width: inherit;
    z-index: 0;
    padding: 0 1em 0 0.2em;
    .sidebar-content {
    padding-left: 20px;
    padding-right: 20px;
  }
}
}
.sidebar-heading {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.sidebar-heading a {
   color: #000;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.sidebar-heading a:hover {
  /*border-bottom: dotted 1px #379392;*/
  /* color: #000;*/
  text-decoration: none;
}
.sidebar-p {
  color: #999999;
  font-size: 14px;
}
.sidebar-menu {
  list-style-type: none;
  padding-left: 40px;
  margin-bottom: 40px;
}
.sidebar-menu li {
  margin-bottom: 5px;
}
.sidebar-menu li a {
  /*color: #555555;*/
}
.sidebar-menu li:before {
  font-family: 'FontAwesome';
  content: '\f105';
  margin: 0 5px 0 -15px;

  /*color: #999999;*/
}
.sidebar-menu li.active a {
  /*color: #379392;*/
  font-weight: bold;
}
.sidebar-menu li.active:before {
  /*color: #379392;*/
}
.sidebar-menu li:hover a {
  text-decoration: none;
  /*color: #379392;*/
}
.sidebar-menu li:hover:before {
  /*color: #379392;*/
}
.content-column {
  padding-top: 40px;
  padding-left: 0px; /*added*/
  padding-right: 0px;  /*added*/
  padding-bottom: 10px;  /*added*/
}
.content-column.white-background {
  background: #fff;
  min-height: 100vh;
}
.grid {
  padding-top: 5px;
  overflow-y: hidden;
}
.content-column-content {
  padding-left: 0px; /*20*/
  padding-right: 0px;  /*20*/
  padding-bottom: 0px;  /*20*/
}
@media (min-width: 1200px) {
  .content-column-content {
    padding-left: 40px;
    padding-right: 10px;
  }
}
.content-column-content p.lead {
  /*color: #555555;*/
}
.content-column-content p,
.content-column-content li {
  color: #999999;
}
.content-column-content ul li {
  list-style-type: none;
}
.content-column-content ul li:before {
  font-family: 'FontAwesome';
  content: '\f105';
  margin: 0 5px 0 -15px;
  /*color: #379392;*/
}
.small-navbar {
  margin-bottom: 20px;
}
.small-navbar:before,
.small-navbar:after {
  content: " ";
  display: table;
}
.small-navbar:after {
  clear: both;
}
.small-navbar-heading {
  float: right;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-top: 10px;
}
.small-navbar-heading a {
  color: #000;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.small-navbar-heading a:hover {
  /*border-bottom: dotted 1px #379392;*/
  /* color: #000;*/
  text-decoration: none;
}

/*
=====================
OFF-CANVAS SIDEBAR BEHAVIOUR
=====================
*/

@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    opacity: 1;
  }
  .row-offcanvas-right {
    right: 0;
  }
  .row-offcanvas-left {
    left: 0;
  }
  .row-offcanvas-right .sidebar-offcanvas {
    right: -50%;
    /* 6 columns */
  }
  .row-offcanvas-left .sidebar-offcanvas {
    left: -68%; 
    /* 6 columns  old val:48*/
  }
  .row-offcanvas-right.active {
    right: 50%;
    /* 6 columns */
  }
  .row-offcanvas-left.active {
    left: 68%;
    /* 6 columns  old val: 50*/
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 65%;
    /* 6 columns  old val:50*/
  }
}

/*
=====================
Taxsonomies
=====================
*/

.terms {
  margin: -.25rem;
}

.terms li {
  display: inline-block;
}

.terms a {
  display: block;
  float: center;
  background-color: #F5F5F5;
  border-radius: 4px;
  color: #333;
  font-size: 14px;
  margin: .25rem;
  padding: 0 .75rem;
  line-height: 1.75rem;
}

/*
=====================
Videos
=====================
*/

.center_iframe{
  display: block;
  margin: auto;
}

.video-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

/*
=====================
GITHUB
=====================
*/

body {
  font-size: 14px;
  line-height: 1.6;
  padding-bottom: 10px;
  background-color: white;
  padding-left: 30px;
  padding-right: 30px;  }

h1 {
  font-size: 36px;
  color: black; } /*34*/

h2 {
  font-size: 24px;
  border-bottom: 1px solid #cccccc;
  color: black; }

h3 {
  font-size: 20px; } /*18*/

h4 {
  font-size: 18px; }

h5 {
  font-size: 14px; }

h6 {
  color: #777777;
  font-size: 14px; }

pre{
  margin: 15px 0; }

h1 p, h2 p, h3 p, h4 p, h5 p, h6 p {
  margin-top: 0; }

ul, ol {
  padding-left: 30px; }

img {
  max-width: 100%; }

code, tt {
  margin: 0 2px;
  padding: 0 5px;
 }

pre code {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent; }

.highlight pre {
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px; }

pre {
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px; }
  pre code, pre tt {
  background-color: transparent;
  border: none; }