/* your styles go here */

/* your styles go here */
.holder {
  width: auto;
  display: inline-block;
}

.with40 {
  width: 40%; /* Will shrink image to 30% of its original width */
  height: auto;
}​
=====================
SIDEBAR + RIGHT COLUMN
=====================

*/
#sidebar {
  padding-top: 40px;
}
/*modified sidebar to follow scroll */
.sidebar-content {
    position: fixed;
    width: inherit;
    z-index: 0;
    padding: 0 1em 0 0.2em;
}
@media screen and (min-width: 992px) {
  .sidebar-content {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.sidebar-heading {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.sidebar-heading a {
   color: #000;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.sidebar-heading a:hover {
  /*border-bottom: dotted 1px #379392;*/
  /* color: #000;*/
  text-decoration: none;
}
.sidebar-p {
  color: #999999;
  font-size: 14px;
}
.sidebar-menu {
  list-style-type: none;
  padding-left: 20px;
  margin-bottom: 40px;
}
.sidebar-menu li {
  margin-bottom: 5px;
}
.sidebar-menu li a {
  /*color: #555555;*/
}
.sidebar-menu li:before {
  font-family: 'FontAwesome';
  content: '\f105';
  margin: 0 5px 0 -15px;
  /*color: #999999;*/
}
.sidebar-menu li.active a {
  /*color: #379392;*/
  font-weight: bold;
}
.sidebar-menu li.active:before {
  /*color: #379392;*/
}
.sidebar-menu li:hover a {
  text-decoration: none;
  /*color: #379392;*/
}
.sidebar-menu li:hover:before {
  /*color: #379392;*/
}
.content-column {
  padding-top: 40px;
}
.content-column.white-background {
  background: #fff;
  min-height: 100vh;
}
.grid {
  padding-top: 5px;
  overflow-y: hidden;
}
.content-column-content {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
@media (min-width: 1200px) {
  .content-column-content {
    padding-left: 40px;
    padding-right: 40px;
  }
}
.content-column-content p.lead {
  color: #555555;
}
.content-column-content p,
.content-column-content li {
  color: #999999;
}
.content-column-content ul li {
  list-style-type: none;
}
.content-column-content ul li:before {
  font-family: 'FontAwesome';
  content: '\f105';
  margin: 0 5px 0 -15px;
  /*color: #379392;*/
}
.small-navbar {
  margin-bottom: 20px;
}
.small-navbar:before,
.small-navbar:after {
  content: " ";
  display: table;
}
.small-navbar:after {
  clear: both;
}
.small-navbar-heading {
  float: right;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-top: 10px;
}
.small-navbar-heading a {
  /* color: #000;*/
  text-decoration: none;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.small-navbar-heading a:hover {
  /*border-bottom: dotted 1px #379392;*/
  /* color: #000;*/
  text-decoration: none;
}
/*


=====================
OFF-CANVAS SIDEBAR BEHAVIOUR
=====================

*/

@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    opacity: 1;
  }
  .row-offcanvas-right {
    right: 0;
  }
  .row-offcanvas-left {
    left: 0;
  }
  .row-offcanvas-right .sidebar-offcanvas {
    right: -50%;
    /* 6 columns */
  }
  .row-offcanvas-left .sidebar-offcanvas {
    left: -48%;
    /* 6 columns */
  }
  .row-offcanvas-right.active {
    right: 50%;
    /* 6 columns */
  }
  .row-offcanvas-left.active {
    left: 50%;
    /* 6 columns */
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%;
    /* 6 columns */
  }
}
/*


=====================
EKKO LIGHTBOX
=====================
*/
